* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(217, 213, 255);
}

.navigation {
    width: 100%;
    background-color: rgb(3, 1, 106);
    height: 50px;
    position: relative;
}
.navigation .menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.navigation .menu .option {
    color: aliceblue;
    display: inline-block;
    font-size: 20px;
    margin-left: 40px;
    top: 50%;
    text-decoration: none;
}
.navigation .menu .option:hover {
    font-size: 25px;
}


.container {
    margin: 0 200px;
}