#block_info tr td {
    padding: 0 20px 0 0 ;
}
#block_num {
    font-size: 22px;
    font-weight: 700;
}

.tx_header {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
.tx_index {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

#tx_vin_name{
    font-size: 18px;
    font-weight: 700;
}
.vin_info {
    margin-bottom: 20px;
}

#tx_vout_name {
    font-size: 17px;
    font-weight: 700;
}
.vout_info {
    margin-bottom: 20px;
}

.value {
    display: inline-block;
    margin-bottom: 2px;
}
.name {
    display: inline-block;
    margin-bottom: 2px;
}
