.pages {
    margin-top: 40px;
    width: 100%;
    background-color: #e0e4f0;
}

.pages button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 16px;
    background-color: inherit;
}
.pages button:hover {
    background-color: #bec1ca;
}

#utxo {
    margin: 0 auto;
}
#utxo tr td {
padding: 0 20px;
}


.vout {
    display: flex;
}
.vin {
    display: flex;
}
