{% extends "base.html" %}
{% block title %}Block {{ block['index'] }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/block.css') }}"> 
{% endblock %}
{% block content %}  
<div id="block_num">Block {{ block['index'] }}</div>
<div id="block_description"></div>
<table id="block_info">
    <tr>
        <td>Hash</td>
        <td>{{ blockchain.hash(block) }}</td>
    </tr>
    <tr>
        <td>Acceptions</td>
        <td>{{ blockchain.chain_len() - block['index'] }}</td>
    </tr>
    <tr>
        <td>Timestamp</td>
        <td>{{ block['header']['timestamp'] }}</td>
    </tr>
    <tr>
        <td>Height</td>
        <td>{{ block['index'] }}</td>
    </tr>
    <tr>
        <td>Merkle root</td>
        <td>{{ block['header']['mrkl_root'] }}</td>
    </tr>
</table>
<div class="tx_header">Transactions</div>
{% for tx in block['transactions'] %}
<div class="tx_index">{{ loop.index }} transaction ({{ hash(tx) }})</div>
{% if tx['vin'] %}
<div id="tx_vin_name">Vin</div>    
{% for vin in tx['vin'] %}
<div class="vin_info">
    <div class="vin_index">
        <div class="txid_name name">Index</div>
        <div class="txid value">{{ loop.index - 1}}</div>
    </div>
    <div class="tx_txid">
        <div class="txid_name name">Txid</div>
        <div class="txid value">{{ vin['txid'] }}</div>
    </div>
    <div class="tx_txid_vout">
        <div class="vout_name name">Vout of txid</div>
        <div class="txid_vout value">{{ vin['vout'] }}</div>
    </div>    
</div>
{% endfor %}
{% endif %}
<div id="tx_vout_name">Vout</div>
{% for vout in tx['vout'] %}
<div class="vout_info">
    <div class="tx_index_field">
        <div class="tx_index_name name">Index</div>
        <div class="index value">{{ vout['n'] }}</div>
    </div>
    <div class="tx_value_field">
        <div class="tx_value_name name">Value</div>
        <div class="sum value">{{ vout['value'] }}</div>
    </div>
    <div class="tx_address_field">
        <div class="tx_address_name name">Address</div>
        <div class="address value">{{ vout['scriptPubKey']['addresses'] }}</div>
    </div>
</div>
{% endfor %}
{% endfor %}
{% endblock %}
