{% extends "base.html" %}

{% block title %}CCoin{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"> 
{% endblock %}

{% block content %}    
<div class="blockchain_info">
    <div id="last_blocks">
        <div id="blocks-table-name">Last blocks</div>
        <div id="blocks-header-row">
            <div class="blocks-header-cell">Height</div>
            <div class="blocks-header-cell">Time</div>
            <!-- <div class="blocks-header-cell">Miner</div> -->
            <!-- <div class="blocks-header-cell">Size</div> -->
        </div>
        <div id="blocks-body">
            {% for block in chain|reverse %}
            <div class="blocks-row">
                <div class="blocks-cell block-index" data-index={{ block['index'] }}>{{ block['index'] }}</div>
                <div class="blocks-cell">{{ block['header']['timestamp'] }}</div>
                <!-- <div class="blocks-cell"></div> -->
                <!-- <div class="blocks-cell"></div> -->
            </div>
            {% endfor %}    
        </div>
    </div>
    <!-- <table>
        <tr>
            <th>Hash</th>
            <th>Time</th>
            <th>Sum(CCoin)</th>
            <th>Size(USD)</th>
        </tr>
        {% for block in chain|reverse %}
        {% for tx in block['transactions'] %}
        {% if tx['vin'] %}
        <tr>            
            <td>{{ tx['vin']['txid'] }}</td>
            <td></td>
            <td>{{ tx['vout']['value'] }}</td>
            <td></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </table> -->

    <div>
        <div id="last_transactions">
            <div id="transactions-table-name">Last transactions</div>
            <div id="transactions-header-row">
                <div class="transactions-header-cell">Txid</div>
                <!-- <div class="transactions-header-cell">Time</div> -->
                <div class="transactions-header-cell">Sum(CCoin)</div>
            </div>
            <div id="transactions-body">
                {% for block in chain|reverse %}
                {% for tx in block['transactions'] %}
                {% if tx['vin'] %}
                <div class="transactions-row">
                    <div class="transactions-cell">{{ hash(tx) }}</div>
                    <!-- <div class="transactions-cell"></div> -->
                    {% set sum = {'sum': 0} %}
                    {% for vout in tx['vout'] %}
                        {% set cur_sum = vout['value'] | int %}
                        {% if sum.update({'sum': sum.sum + cur_sum}) %}{% endif %}
                    {% endfor %}
                    <div class="transactions-cell">{{ sum.sum }}</div>
                </div>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
