{% extends "base.html" %}
{% block title %}Wallet{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wallet.css') }}"> 
{% endblock %}
{% block content %}
<div class="box">
    <div class="pages">
        <button class="link" onclick="openPage('utxo')">UTXO</button>
        <button class="link" onclick="openPage('tx')">Create a transaction</button>
    </div>
</div>
<table id="utxo" class="content">
    <tr>
        <th>UTXO</th>
        <th>Balance</th>
    </tr>
    {% for tx in wallet.utxo %}
    <tr>
        <td>{{ tx[0] }}</td>
        <td>{{ tx[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div id="tx" class="content">
    <form method="POST">
        <div id="inputs">
            <div id="vin_data">
                <div id="vin_name">VINs</div>
                <div id="vin_elems">
                    <div class="vins">
                        <div id="vin_0" class="vin">
                            <div class="form-field">
                                <input type="text" class="form-control" name="txid[]" placeholder="Enter txid">
                            </div>
                            <div class="form-field">
                                <input type="number" class="form-control" name="vout[]" placeholder="Enter vout of txid">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="add_new_vin" onclick="addVin()">Add new vin</button>
                </div>
            </div>
            <div id="vout_data">
                <div id="vout_name">VOUTs</div>
                <div id="vout_elems">
                    <div class="vouts">
                        <div id="vout_0" class="vout">
                            <div class="form-field">
                                <input type="text" class="form-control" name="address[]" placeholder="Enter address">
                            </div>
                            <div class="form-field">
                                <input type="number" class="form-control" id='sum' name="sum[]" placeholder="Enter sum">
                            </div>
                        </div>
                    </div>
                    
                    <button type="button" class="add_new_vout" onclick="addVout()">Add new vout</button>
                </div>
            </div>
        </div>
        <br/>
        <input type="submit" value="Send form">
    </form>
</div>
<script src="{{url_for('static', filename='js/wallet.js')}}"></script>
{% endblock %}